html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#container {
    border: 1px solid black;
    display: grid;
    width: 960px;
}

.item {
    border: 1px solid black;
    aspect-ratio: 1;
}